@using Web_App_CarRentingSystem.Services.Cars.Models
@model IEnumerable<CarServiceModel>

@{
    ViewBag.title = "My Cars";  
    ViewBag.AllowCarEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You have no cars yet</h2>
}

<partial name="_CarsPartial" model="Model" />